@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --background-color: #fcf6df;
    --grid-background: #ffc289;
    --text-color: #62a3ac;
}

body {
    font-family: "Lato", sans-serif;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background-color);
    min-height: 100vh;
    margin: 0;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    padding: 40px;
    box-sizing: border-box;
}

.title{
    margin-top: 0;
    margin-bottom: 3vh;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 80px);
    gap: 5px;
    color: black;
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cell {
    background: var(--grid-background);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
}